body {
  margin: 0;
  padding: 0;
  font-family: "Sans-serief";
  background-color: #eee;
}
.wrapper {
  padding: 0 60px;
  display: block;
  width: calc(100% - 120px);
  display: flex;
}

.pquiz-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.pquiz-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.categories-list li {
  list-style: none;
  margin-bottom: 10px;
  cursor: not-allowed;
}

.categories-list li span {
  cursor: pointer;
}

.right-side-content {
  margin-top: 30px;
}

.activeTab {
  color: green;
}

.inactiveTab {
  color: blue;
}
